*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw;
    background-color: rgb(161, 155, 155);

}
.container{
    height:100%;
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 200px auto;
    grid-template-areas: "dashboard header"
                         "dashboard main "
                         
                           
    
}

.dashboard{
    grid-area: dashboard;
    background-color: skyblue;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    gap:25px;
    color: white;
    align-items: center;
}
.d1>div:hover,.d2>div:hover,.d3>div:hover{
    color:aliceblue;
    font-weight: bold;
    font-size: large;
}
.d1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.d2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    right: 17px;
}
.header{
    grid-area: header;
    background-color: white;
    border:1px solid black;
    display: flex;
    gap:20px;
    justify-content: center;
    padding:50px;
    
}
.head1{
    display: flex;
    flex-direction:column ;
    gap:20px;
}
.head2{
    margin-left: auto;
    display: flex;
    flex-direction:column ;
    gap:50px;
}
button{
    height: 20px;
    width: 60px;
    background-color: skyblue;
    color: white;
}
.button{
    display: flex;
    gap: 20px;
}
button:hover{
    font-size:15px;
    font-weight: bold;
    

}
.main{
    grid-area: main;
    background-color:aliceblue;
    border:1px solid black;
}